
@model ProjeCore.Models.Personel
@{
    ViewData["Title"] = "AddEmployee";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}
<h2>Yeni Personel Sayfası</h2>
<br />
<form class="form-group" method="post">
    @Html.Label("Personel Ad:")
    @Html.TextBoxFor(x => x.PersonelAd, new { @class = "form-control" })
    <br />
    @Html.Label("Personel Soyad:")
    @Html.TextBoxFor(x => x.PersonelSoyad, new { @class = "form-control" })
    <br />
    @Html.Label("Personel Şehir:")
    @Html.TextBoxFor(x => x.PersonelSehir, new { @class = "form-control" })
    <br />
    @Html.Label("Birim")
    @Html.DropDownListFor(x=>x.Birim.BirimID,(List<SelectListItem>) ViewBag.dgr, new { @class = "form-control" }) 
    <br />
    <button class=" btn btn-success">Kaydet</button>

</form>

