
@model ProjeCore.Models.Personel
@{
    ViewData["Title"] = "BringEmployee";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<h2>Personel Güncelleme Sayfası</h2>
<br />
@using (Html.BeginForm("UpdateEmployee", "Personel", FormMethod.Post))
{
<form class="form-group" method="post">
    @Html.Label("Personel ID:")
    @Html.TextBoxFor(x => x.PersonelID, new { @class = "form-control" })
    <br />
    @Html.Label("Personel Ad:")
    @Html.TextBoxFor(x => x.PersonelAd, new { @class = "form-control" })
    <br />
    @Html.Label("Personel Soyad:")
    @Html.TextBoxFor(x => x.PersonelSoyad, new { @class = "form-control" })
    <br />
    @Html.Label("Personel Şehir:")
    @Html.TextBoxFor(x => x.PersonelSehir, new { @class = "form-control" })
    <br />
   
    @Html.Label("Birim")
    @Html.DropDownListFor(x => x.BirimID, (List<SelectListItem>)ViewBag.dgr, new { @class = "form-control" })
    <br />
    @Html.HiddenFor(x => x.PersonelID)
    <button class=" btn btn-success">Kaydet</button>

</form>
}

