@using ProjeCore.Models
@model List<Personel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}
<br />
<table class="table table-bordered">

    <tr>
        <th>PERSONEL ID</th>
        <th>PERSONEL AD</th>
        <th>PERSONEL SOYAD</th>
        <th>PERSONEL ŞEHİR</th>
        <th>BİRİM</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>

    </tr>
    @foreach (var k in Model)
    {
        <tr>
            <td>@k.PersonelID</td>
            <td>@k.PersonelAd</td>
            <td>@k.PersonelSoyad</td>
            <td>@k.PersonelSehir</td>
            <td>@k.Birim.BirimAd</td>
            <td><a href="/Personel/DeleteEmployee/@k.PersonelID" class="btn btn-danger">SİL</a></td>
            <td><a href="/Personel/BringEmployee/@k.PersonelID" class="btn btn-warning">GÜNCELLE</a></td>


        </tr>
    }
</table>
<td><a href="/Personel/AddEmployee/" class="btn btn-primary">PERSONEL EKLE</a></td>



